target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!**/src/main/**/target/
!**/src/test/**/target/
spring-shell.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


###############
/telegram.api/td/
application*.yaml
!application.yaml
tdlib/
tdlib.log

